<h2> New </h2>

<%= form_with url: sessions_path do |form| %>
    <%= form.label :name %><br>
    <%= form.text_field :name %><br><br>
    <%= form.label :username %><br>
    <%= form.text_area :username %><br><br>
    <%= form.submit %>
    <% end %>